<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <EnvironmentVariables>
      <QT_HOME_X64>C:\Qt\5.14.2\msvc2017_64</QT_HOME_X64>
      <QT_HOME_X86>C:\Qt\5.14.2\msvc2017</QT_HOME_X86>
      
      <APP_BASE_PATH_X64>D:\gix-ide-x64</APP_BASE_PATH_X64>
      <APP_BASE_PATH_X86>D:\gix-ide-x86</APP_BASE_PATH_X86>

      <VC_COMPILER_ID>comp_32616</VC_COMPILER_ID>
      <MINGW_COMPILER_X86_ID>gnucobol-3.1.2-std-gcc-x86</MINGW_COMPILER_X86_ID>
      <MINGW_COMPILER_X64_ID>gnucobol-3.1.2-std-mingw-x64</MINGW_COMPILER_X64_ID>
      
      <MYSQL_DB>192.168.1.171:3306/testdb</MYSQL_DB>
      <MYSQL_AUTH>test.test</MYSQL_AUTH>
      
      <PGSQL_DB>localhost:5432/testdb</PGSQL_DB>
      <PGSQL_AUTH>test.test</PGSQL_AUTH>
      
      <ODBC_DSN_1>TESTDB_MYSQL</ODBC_DSN_1>
      <ODBC_AUTH_1>test.test</ODBC_AUTH_1>

      <ODBC_DSN_2>TESTDB_PGSQL</ODBC_DSN_2>
      <ODBC_AUTH_2>test.test</ODBC_AUTH_2>

    </EnvironmentVariables>
  </RunConfiguration>
</RunSettings>