{
    "server": {
        "address": "127.0.0.1",
        "base_path": "C:/Users/marchetto/Documents/gix/webtest001/bin/debug/x64",
        "cache_size": 1000000,
        "cache_time": 60000,
        "cleanup_interval": 1000,
        "debug": false,
        "encoding": "UTF-8",
        "environment": [
        ],
        "log": "C:/Users/marchetto/Documents/gix/webtest001/127_0_0_1__9090.log",
        "log_console_echo": true,
        "log_level": "debug",
        "max_age": 60000,
        "max_cached_file_size": 65536,
        "max_multipart_size": 1000000,
        "max_request_size": 16000,
        "max_threads": 100,
        "min_threads": 1,
        "port": 9090,
        "read_timeout": 10000,
        "runtime_path": "C:/ProgramData/gix/compiler-pkgs/compilers/vs/gnucobol-3.1_dev-std-vs-all",
        "runtime_path_debug": "",
        "search_path": "C:/Users/marchetto/Documents/gix/webtest001",
        "ssl_cert_file": "",
        "ssl_enabled": false,
        "ssl_key_file": ""
    },
    "services": [
        {
            "debug_port": 13001,
            "description": "Service (REST) WEBTEST001 at 127.0.0.1:9090",
            "enabled": true,
            "environment": [
            ],
            "interface_in_field": "PAR-IN",
            "interface_out_field": "PAR-OUT",
            "log": "C:/Users/marchetto/Documents/gix/webtest001/WEBTEST001.log",
            "log_level": "debug",
            "method": "",
            "name": "WEBTEST001",
            "program": "WEBTEST001",
            "type": "rest",
            "url": "/WEBTEST001"
        }
    ]
}
